{{!-- step 3 ( goto saved.hndlbrs for step 4) --}} {{!-- nav bar --}}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">mongoScraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/saved">Saved Articles</a></li>
      <li><a class="btn btn-info scrape-new">'Scrape' New Articles!</a></li>
    </ul>
  </div>
</nav>

{{!-- jumbotron --}}
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>NY Times mongoScraper App</h1>
    <h1></h1>
  </div>
</div>
<div class="container-fluid article-container">
</div>

{{!-- footer --}}
<footer class="footer">
  <div class="container">
    <p>NY Times mongoScraper App - K.Ahankoob 2018</p>
  </div>
</footer>

{{!-- the bootstrap link cannot be on top or the scraper msg after the 'scrape article btn' is pressed will not work/show
--}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script> {{!-- link to index.js --}}
<script src="../../assets/javascript/index.js"></script>